$font-core: "Open Sans", sans-serif;
$font-alt: "Source Code Pro", monospace;

$color-black: rgba(0, 0, 0, 0.84);
$color-grey: rgba(0, 0, 0, 0.54);
$color-lgrey: rgba(0, 0, 0, 0.2);

$color-code-background: rgba(0, 0, 0, 0.2);
$color-link: #2c3e50;
$color-white: #fff;
$color-green: green;
